
@media only screen and (min-width: 768px) {
  body {
    width: 1440px;

  }

  .header-background {
    width: 600px;
    height: 916px;
    left: 1px;
    top: 1px;
    display: flex;
    flex-direction: row;
  }

  .m-logo {
    padding-top: 10px;
    padding-left: 40px;
    text-decoration: none;
    width: 76px;
    height: 20px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .link-right {
    margin-top: -30px;
    text-decoration: none;
    list-style-type: none;
    float: right;
  }

  .header-link {
    list-style-type: none;
    text-decoration: none;
  }

  .section1 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
  }

  .l1 {
    position: absolute;
    width: 80.48px;
    height: 40.24px;
    background: #6070ff;
    transform: rotate(-156.88deg);
  }

  .l2 {
    margin-left: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .l3 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 708px;
    top: 257px;
    background: #ebebff;
  }

  .l4 {
    position: absolute;
    margin-bottom: 40px;
    width: 204px;
    height: 47px;
    left: 1146px;
    top: 221px;
    background: #ebebff;
    transform: rotate(-30deg);
  }

  .l5 {
    position: absolute;
    width: 224px;
    height: 224px;
    left: 1208px;
    top: 192px;
  }

  .l6 {
    position: absolute;
    width: 108.67px;
    height: 19.44px;
    left: 34.6px;
    top: 218.92px;
    background: #ebebff;
    transform: rotate(-46.14deg);
  }

  .section2 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: -500px;
    width: 920px;
    height: auto;
  }

  .h23 {
    width: 920px;
    height: 122px;
    margin-bottom: 50px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    order: 1;
    letter-spacing: 0.37px;
    flex: none;
    flex-grow: 0;
  }

  .paragraph {
    width: 920px;
    height: 98px;
    margin-top: -50px;
    display: flex;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .ets {
    width: 117px;
    height: 24px;
    margin-top: -30px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .ets1 {
    width: 117px;
    height: 24px;
    margin-top: -10px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .social-menue {
    list-style: none;
    position: absolute;
    display: flex;
    width: 170.17px;
    height: 20px;
    margin-top: 300px;
    margin-left: -45px;
  }

  .social-menue2 {
    list-style: none;
    position: absolute;
    display: flex;
    width: 170.17px;
    height: 20px;
    margin-top: 100px;
    margin-left: -45px;
  }

  .lsls {
    padding-right: 20px;
  }

  .sec2bott {
    margin-top: 100px;
  }

  .abd {
    margin-top: 300px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 24px;
  }

  .left {
    display: flex;
    flex-direction: row;
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
    background: #FFFFFF;
  }

  .right {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    width: 544px;
    height: 778px;
  }

  .canopli {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    margin-left: -37px;
    order: 1;
  }

  .sec3rlink31 {
    padding-top: 37px;
    padding-right: 12px;
    height: 24px;
    display: flex;
    text-decoration: none;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    flex: none;
    flex-grow: 0;
  }

  .sec3p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 60px;
    color: #c1c7d0;
  }

  .canopli2 {
    list-style-type: none;
    margin-left: -37px;
    order: 3;
  }

  .paragraph1 {
    width: 447px;
    height: 102px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .sec3rlink32 {
    width: 75px;
    height: 24px;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: #EBEBFF;
    border-radius: 8px;
    color: #6070ff;
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .abdd {
    margin-top: 5px;
  }

  .abd {
    height: 240px;
  }

  .abcr {
    margin-top: -15px;
  }

  .alh {
    margin-top: 50px;
  }

  .bb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 150px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin-top: -5px;
  }

  .row3 {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 24px;
  }

  .row4 {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 24px;
  }

  .r4left {
    display: flex;
    flex-direction: row;
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .r4right {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    float: right;
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .row5 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 500px;
    margin-left: 100px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 24px;
  }

  .row6 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 100px;
  }

  .inline {
    list-style-type: none;
    text-decoration: none;
    margin-right: 30px;
    color: #344563;
  }

  .tonic {
    width: 447px;
    height: 114px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091E42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .canopli6 {
    list-style-type: none;
    margin-left: -35px;
  }

  .sec3rlink316 {
    margin-right: 75px;
  }

  .social-menue1 {
    list-style: none;
    position: absolute;
    display: flex;
    width: 170.17px;
    height: 20px;
    margin-top: 70px;
    margin-left: -45px;
  }

  .row7 {
    position: absolute;
    background-image: url("images/form2.png");
    background-size: cover;
    visibility: visible;
    width: 1440px;
    height: 846px;
    left: 1px;
    margin-top: -170px;
  }

  .ro72 {
    width: 100px;
    display: flex;
    flex-direction: column;
    background: #6070ff;
  }

  .ro73 {
    width: 600px;
    float: center;
  }

  .image5 {
    padding-left: 50px;
    width: 30px;
  }

  .e5 {
    width: 27px;
    height: 27px;
    margin-left: 400px;
    margin-top: 30px;
  }

  .paragraph2 {
    width: 669px;
    height: 102px;
    margin-left: 437px;
    margin-right: 436px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .e6 {
    left: 106.53px;
    margin-left: -44px;
    margin-top: 140px;
    width: 5%;
    height: 5%;
  }

  .e9 {
    margin-left: 200px;
    margin-top: 360px;
  }

  .r66 {
    margin-left: 200px;
    margin-top: 100px;
    width: 20%;
    height: 20%;
  }

  .r666 {
    margin-left: 160px;
    margin-top: 150px;
    width: 10%;
    height: 10%;
  }

  .ro74 {
    display: flex;
    flex-direction: column;
    width: 420px;
    float: right;
  }

  .form2 {
    padding-left: 497px;
    padding-right: 496px;
    width: 447px;
  }

  .name1 {
    top: calc(50% - 18px / 2);
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 450px;
    height: 48px;
    border-radius: 8px;
    color: #172b4d;
  }

  .em1 {
    top: calc(50% - 18px / 2);
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    height: 48px;
    margin-bottom: 20px;
    width: 450px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #172b4d;
    border: 1px solid #cfd8dc;
  }

  .message1 {
    left: 1px;
    right: 1px;
    margin-bottom: 20px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 450px;
    height: 170px;
  }

  .head1 {
    width: 801px;
    height: 56px;
    margin-left: 660px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sub {
    width: 170px;
    text-align: center;
    height: 24px;
    margin-left: 130px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sub:hover {
    border: 1px solid #cfd8dc;
    width: 109px;
    height: 25px;
  }

  .sub:active {
    border: 1px solid #cfd8dc;
    width: 110px;
    height: 26px;
  }

  .abl {
    height: 800px;
    margin-top: 100px;
    background-image: url("images/hb.png");
    background-size: cover;
    visibility: visible;
  }
}

/* @media only screen and (max-width: 600px) { */

@media only screen and (max-width: 768px) {
  body {
    width: 100% auto;
  }

  nav {
    width: 100% auto;
  }

  .header-link {
    list-style-type: none;
    text-decoration: none;
  }

  .link-right {
    text-decoration: none;
    list-style-type: none;
    float: right;
    margin-right: 100px;
    margin-top: -30px;
  }

  .sec3p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 60px;
    color: #c1c7d0;
  }

  .inline {
    text-decoration: none;
  }

  .m-logo {
    padding-top: 10px;
    padding-left: 1px;
    text-decoration: none;
    width: 76px;
    height: 20px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .abl {
    height: 270px;
    margin-top: 100px;
    width: 100%;
    background-image: url("images/hb.png");
    background-size: cover;
    visibility: visible;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    margin-top: -40px;
    width: 100%;
    height: auto;
  }

  .row5 {
    margin-top: -50px;
  }
  .h23 {
    width: 100%;
    height: 122px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    order: 1;
    letter-spacing: 0.37px;
    flex: none;
    flex-grow: 0;
  }

  .row3 {
    margin-top: 250px;
  }

  .paragraph {
    width: 100%;
    height: 98px;
    margin-top: -30px;
    display: flex;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .ets {
    width: 117px;
    height: 24px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .social-menue {
    list-style: none;
    position: absolute;
    display: flex;
    width: 170.17px;
    height: 20px;
    margin-top: 370px;
    margin-left: -45px;
    order: 4;
  }

  .social-menue2 {
    list-style: none;
    position: absolute;
    display: flex;
    width: 170.17px;
    height: 20px;
    margin-top: 370px;
    margin-left: -45px;
    order: 4;
  }

  .lsls {
    padding-right: 20px;
  }

  .abd {
    margin-top: 100px;
    width: 100%;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 448px;
    top: 24px;
  }

  .canopli {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: -40px;
    margin-left: -37px;
    order: 1;
  }

  .sec3rlink31 {
    padding-top: 37px;
    padding-right: 12px;
    height: 24px;
    display: flex;
    text-decoration: none;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    flex: none;
    flex-grow: 0;
  }

  .paragraph1 {
    width: 100%;
    height: 50px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .sec3rlink32 {
    width: 75px;
    height: 24px;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6070ff;
    background: #EBEBFF;
    border-radius: 8px;
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .canopli2 {
    list-style-type: none;
    margin-left: -37px;
    order: 3;
  }

  .bb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 150px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    flex: none;
    order: 5;
    flex-grow: 0;
  }

  .ets1 {
    width: 117px;
    height: 24px;
    margin-top: 50px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .canopli6 {
    list-style-type: none;
    margin-left: -35px;
  }

  .sec3rlink316 {
    margin-right: 75px;
    list-style-type: none;
  }

  .row7 {
    position: absolute;
    background-image: url("images/form2.png");
    background-size: cover;
    visibility: visible;
    width: 1005;
    height: 846px;
    left: 1px;
  }

  .ro73 {
    width: 100%;
    float: center;
  }

  .paragraph2 {
    width: 100%;
    height: 102px;
    margin-left: 1px;
    margin-right: 1px;
    font-family: 'Poppins', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .head1 {
    width: 100%;
    height: 56px;
    margin-left: 1px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form2 {
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
  }

  .name1 {
    top: calc(50% - 18px / 2);
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 450px;
    height: 48px;
    border-radius: 8px;
    color: #172b4d;
  }

  .em1 {
    top: calc(50% - 18px / 2);
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    height: 48px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #172b4d;
    border: 1px solid #cfd8dc;
  }

  .message1 {
    left: 1px;
    right: 1px;
    margin-bottom: 20px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 100%;
    height: 170px;
  }

  .sub {
    width: 170px;
    text-align: center;
    height: 24px;
    margin-left: 130px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sub:hover {
    border: 1px solid #cfd8dc;
    height: 25px;
    width: 175px;
  }

  .sub:active {
    border: 1px solid #cfd8dc;
    width: 175px;
    height: 26px;
  }

  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 448px;
    top: 24px;
  }

  .abcl {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 448px;
    top: 24px;
  }
}
